<h2>ユーザー一覧</h2>
<% @users.each do |user| %>
  <% unless current_user.friends.include?(user) %>
    <p>
      <%= user.username %>  
      <%= button_to "申請する", friendships_path(friend_id: user.id), method: :post %>
    </p>
  <% else %>
    <p><%= user.username %>（申請済みまたは友達）</p>
  <% end %>
<% end %>
