<h2>友達リスト</h2>

<% if @friends.any? %>
  <% @friends.each do |friend| %>
    <p>
      ⚫︎ <%= friend.username %>
      <% if (friendship = @friendships_by_friend_id[friend.id]) %>
        <%= button_to '解除',
                      friendship_path(friendship),
                      method: :delete,
                      data: { turbo_confirm: '友達を解除しますか？' } %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <p>友達がいません</p>
<% end %>